In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
from postgres_utils import PostgresPandas

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
ppd = PostgresPandas()

In [4]:
spx_table = pd.read_csv('./s-and-p-500-companies/data/constituents.csv')

In [16]:
# spx_table.to_sql('spx_table', ppd.engine, if_exists='fail')

In [6]:
spx_table[:2]

  Symbol                 Name       Sector
0    MMM           3M Company  Industrials
1    ABT  Abbott Laboratories  Health Care

In [7]:
spx_lists = spx_table['Symbol']

In [8]:
spx_lists[:4]

0     MMM
1     ABT
2    ABBV
3     ACN
Name: Symbol, dtype: object

In [9]:
queries = '''
select *
from spx_table
order by "Sector";
'''

In [10]:
ret = ppd.run_query(queries)

In [11]:
ret[-10:]

     index Symbol                              Name     Sector
495    332     NI                     NiSource Inc.  Utilities
496    122     ED               Consolidated Edison  Utilities
497    357    PCG                        PG&E Corp.  Utilities
498     33    AWK  American Water Works Company Inc  Utilities
499     29    AEP           American Electric Power  Utilities
500     21    LNT               Alliant Energy Corp  Utilities
501    151    DTE                    DTE Energy Co.  Utilities
502    164    ETR                     Entergy Corp.  Utilities
503    188     FE                  FirstEnergy Corp  Utilities
504    112    CMS                        CMS Energy  Utilities

In [12]:
set(ret['Sector'])

{'Consumer Discretionary',
 'Consumer Staples',
 'Energy',
 'Financials',
 'Health Care',
 'Industrials',
 'Information Technology',
 'Materials',
 'Real Estate',
 'Telecommunications Services',
 'Utilities'}

In [14]:
del ppd